{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/statistics.css' %}" />
    <meta charset="UTF-8" />
    <title>Markbook | Admin's statistics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="https://cdn2.iconfinder.com/data/icons/basic-ui-color/37/Tick-1024.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">

  </head>
  <body class={{theme}}>
    <button class="menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
    <div class="dropdown-container" id="mobile">
      <div class="nav-bar">
        <div class="top-items">
          <a href="#">
            <img src="{% static 'imgs/icon-user.png' %}" alt="user">
            <p>{{username}}</p>
            <span>ИДБ-23-05</span>
          </a>
          <a href="/adminschedule">
            <img src="{% static 'imgs/icon-timetable.png' %}" alt="i" />
            <p>Посещаемость</p>
          </a>
          <a href="/adding">
            <img src="{% static 'imgs/icon-lessons.png' %}" alt="i">
            <p>Предметы</p>
          </a>
          <a href="#" id="active-nav">
            <img src="{% static 'imgs/icon-statistics.png' %}" alt="i" />
            <p>Статистика</p>
          </a>
          <a href="#" onclick="darkmode()">
            <img src="{% static 'imgs/icon-theme.png' %}" alt="i" />
            <p>Тема</p>
          </a>
        </div>
        <a href="leave/" class="leave">
          <img id="leave" src="{% static 'imgs/icon-door.png' %}" alt="door" />
          <p>Выйти</p>
        </a>
      </div>
    </div>
    <div class="application">
      <div>
        <div class="header" style="visibility: hidden" id="Margin">
          <h1>*</h1>
        </div>
        <div class="nav-bar" id="desktop">
          <div class="top-items">
            <a href="#">
              <img src="{% static 'imgs/icon-user.png' %}" alt="user">
              <p>{{username}}</p>
              <span>ИДБ-23-05</span>
            </a>
            <a href="/adminschedule">
              <img src="{% static 'imgs/icon-timetable.png' %}" alt="i" />
              <p>Посещаемость</p>
            </a>
            <a href="/adding">
              <img src="{% static 'imgs/icon-lessons.png' %}" alt="i">
              <p>Предметы</p>
            </a>
            <a href="#" id="active-nav">
              <img src="{% static 'imgs/icon-statistics.png' %}" alt="i" />
              <p>Статистика</p>
            </a>
            <a href="#" onclick="darkmode()">
              <img src="{% static 'imgs/icon-theme.png' %}" alt="i" />
              <p>Тема</p>
            </a>
          </div>
          <a href="leave/" class="leave">
            <img
              id="leave"
              src="{% static 'imgs/icon-door.png' %}"
              alt="door"
            />
            <p>Выйти</p>
          </a>
        </div>
        <!-- <div class="nav-bar" id="banner">
          <img src="{% static 'imgs/banner.jpg' %}" alt="">
          <h3>Welcome to Markbook!</h3>
        </div> -->
      </div>

      <div class="content">
        <div class="header">
          <h1>Статистика</h1>
        </div>
        <div class="statistics-menu">
          <div class="active-day">
            <h4>По предметам</h4>
          </div>
          <div class="day">
            <h4>На чай разрабам (пока не доступно)</h4>
          </div>
        </div>

        <div class="lessons-content">

        </div>
        
    </div>

    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
      function PageLoad(){
        //father = document.getElementsById();
        var xmlhttp = new XMLHttpRequest();
        var theUrl = "/adminstat/";
        xmlhttp.onload = function () {
            if (xmlhttp.status == 200) {
              var responseText = xmlhttp.responseText;
              var context = JSON.parse(responseText);
              console.log(context)
              for(var i in context){
              var div = document.createElement("div");
              div.classList.add("lesson")
                div.innerHTML = `
                  <div class="naming">
                    <p>Предмет</p>
                    <h4>${i}</h4>
                  </div>
              `
                for(var j in context[i]){
                  div.innerHTML+=`
                    <div class="student">
                      <h4>${j}</h4>
                      <div class="visiting">
                        <h4>Пропущено</h4>
                        <p style="color: red;" id="missed">${context[i][j].noton}</p>
                        <h4>Посещений</h4>
                        <p style="color: green;" id="visits">${context[i][j].on}</p>
                      </div>
                    </div>
                    `;
                }
              document.getElementsByClassName("lessons-content")[0].appendChild(div);
              }
            }
        }
        xmlhttp.open("POST", theUrl, (async = true));
        xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        xmlhttp.send(JSON.stringify({ }));
      }

      window.onload = PageLoad;
    </script>

    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
      var themer = "{{theme}}";
      var dropdown = document.getElementsByClassName("menu-button");
      var i;
      var tableContent = document.getElementsByClassName("statistic-content");

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            tableContent[0].style.display = "block";
          } else {
            dropdownContent.style.display = "block";
            tableContent[0].style.display = "none";
          }
        });
      }

      function change_theme(callback){
  var xmlhttp = new XMLHttpRequest();
  var theUrl = "/theme/";
  xmlhttp.onload = function () {
      if (xmlhttp.status == 200) {
        var responseText = xmlhttp.responseText;
        var context = JSON.parse(responseText);
        console.log(context['theme']);
        var theme = context.theme;
        callback(theme);
      }
  }
  xmlhttp.open("POST", theUrl, true);
  xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
  xmlhttp.send(JSON.stringify({ id: '{{ student_id }}' }));
}

function modeenabled(){
  var theme = document.getElementsByTagName('body')[0];
  if(themer=="darkmode"){
      theme.classList.remove("lightmode");
      theme.classList.add("darkmode");
    }else{
      theme.classList.remove("darkmode");
      theme.classList.add("lightmode");
    }
}
function darkmode() {
  var theme = document.getElementsByTagName('body')[0];
  console.log(theme.classList);

  change_theme(function(themer) { // Исправлено: добавлен аргумент themer в колбэк-функцию
    console.log(themer);

    if (themer == "darkmode") {
      theme.classList.remove("lightmode");
      theme.classList.add("darkmode");
    } else {
      theme.classList.remove("darkmode");
      theme.classList.add("lightmode");
    }
  });
}
    </script>
  </body>
</html>
