{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/masha.css' %}" />
    <meta charset="UTF-8" />
    <title>Markbook | Admins schedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/basic-ui-color/37/Tick-1024.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="lightmode">
    <button class="menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
    <div class="dropdown-container" id="mobile">
      <div class="nav-bar">
        <div class="top-items">
          <a href="/adminschedule/" id="active-nav">
            <img src="{% static 'imgs/icon-timetable.png' %}" alt="i">
            <p>Посещаемость</p>
          </a>
          <a href="/adding">
            <img src="{% static 'imgs/icon-lessons.png' %}" alt="i">
            <p>Предметы</p>
          </a>
          <a href="/adminstatistics">
            <img src="{% static 'imgs/icon-statistics.png' %}" alt="i">
            <p>Статистика</p>
          </a>
          <a href="#" onclick="darkmode()">
            <img src="{% static 'imgs/icon-theme.png' %}" alt="i">
            <p>Тема</p>
            <span>New</span>
          </a>
        </div>
        <a href="leave/" class="leave">
          <img
                id="leave"
                src="{% static 'imgs/icon-door.png' %}"
                alt="door"
              />
          <p>Выйти</p>
        </a>
      </div>
    </div>
    <div class="application">
      <div>
        <div class="header" style="visibility: hidden;" id="Margin">
          <h1>*</h1>
        </div>
        <div class="nav-bar" id="desktop">
          <div class="top-items">
            <a href="#" id="active-nav">
              <img src="{% static 'imgs/icon-timetable.png' %}" alt="i">
              <p>Посещаемость</p>
            </a>
            <a href="/adding">
              <img src="{% static 'imgs/icon-lessons.png' %}" alt="i">
              <p>Предметы</p>
            </a>
            <a href="/adminstatistics">
              <img src="{% static 'imgs/icon-statistics.png' %}" alt="i">
              <p>Статистика</p>
            </a>
            <a href="#" onclick="darkmode()">
              <img src="{% static 'imgs/icon-theme.png' %}" alt="i">
              <p>Тема</p>
              <span>New</span>
            </a>
          </div>
          <a href="leave/" class="leave">
            <img
                  id="leave"
                  src="{% static 'imgs/icon-door.png' %}"
                  alt="door"
                />
            <p>Выйти</p>
          </a>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h1>Посещаемость</h1>
          <div class="user">
            <img
                src="{% static 'imgs/icon-user.png' %}"
                alt="user"
              />
            <h3>{{username}}</h3>
          </div>
        </div>
        <div class="calendar">
          <div class="day" id="week" onclick="weekchange(-7)">
            <h4><</h4>
          </div>
          <div class="day" id="Mon" onclick="choose(this)">
            <p>Пн</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Tue" onclick="choose(this)">
            <p>Вт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Wed" onclick="choose(this)">
            <p>Ср</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Thu" onclick="choose(this)">
            <p>Чт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Fri" onclick="choose(this)">
            <p>Пт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Sat" onclick="choose(this)">
            <p>Сб</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Sun" onclick="choose(this)">
            <p>Вс</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="week" onclick="weekchange(7)">
            <h4>></h4>
          </div>
        </div>
  
        
        <!-- sample table -->
        <div class="lessons-content">
          <div class="lesson">
            <div class="naming">
              <h4>Загрузка расписания...</h4>
            </div>
            <div class="arrow-button"></div>
          </div>
          <div class="lesson" onclick="checkable(this)">
              <div class="naming">
                  <p>8:30-10:10</p>
                  <h4>Линейная албебра</h4>
              </div>
              <div class="students">
  
                  <!-- sample student -->
                  <!-- <div class="human">
                      <h4>
                          1. Виктор Блуд
                      </h4>
                  </div> -->
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      var dropdown = document.getElementsByClassName("menu-button");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      } 
    </script>
    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
      var today = new Date();
      var week = [
        document.getElementById("Mon"),
        document.getElementById("Tue"),
        document.getElementById("Wed"),
        document.getElementById("Thu"),
        document.getElementById("Fri"),
        document.getElementById("Sat"),
        document.getElementById("Sun"),
      ];


      function weekchange(i){
          newb = document.getElementsByClassName('active-day')[0];
          var nextWeek = new Date(today);
          nextWeek.setDate(today.getDate() + i);
          today = nextWeek;
          onPageLoad();
          oldb = document.getElementsByClassName("active-day")[0];
          oldb.classList.remove("active-day");
          oldb.classList.add("day");
          newb.classList.remove("day");
          newb.classList.add("active-day");
      }

      function onPageLoad() {
        var c = 1
        for (let i = today.getDay(); i < 7; i++) {
          var h = week[i].getElementsByTagName("h4")[0];
          var nextDay = new Date(today);
          nextDay.setDate(today.getDate() + c);
          var p = week[i].getElementsByTagName("h3")[0];
          p.innerHTML = `${nextDay.getDate()}.${nextDay.getMonth() + 1}.${nextDay.getFullYear()}`;
          h.innerHTML = nextDay.getDate();
          c = c+1;
        }
        var c = 1
        for (let i = today.getDay(); i >= 0; i--) {
          var h = week[i].getElementsByTagName("h4")[0];
          var nextDay = new Date(today);
          nextDay.setDate(today.getDate() + c);
          var p = week[i].getElementsByTagName("h3")[0];
          p.innerHTML = `${nextDay.getDate()}.${nextDay.getMonth() + 1}.${nextDay.getFullYear()}`;
          h.innerHTML = nextDay.getDate();
          c = c-1;
        }

        var week2 = [
          document.getElementById("Sun"),
          document.getElementById("Mon"),
          document.getElementById("Tue"),
          document.getElementById("Wed"),
          document.getElementById("Thu"),
          document.getElementById("Fri"),
          document.getElementById("Sat"),
        ];
        week2[today.getDay()].classList.remove("day");
        week2[today.getDay()].classList.add("active-day");
        gettable(week2[today.getDay()].getElementsByTagName("h3")[0].innerHTML,week2[today.getDay()].getElementsByTagName("p")[0].innerHTML);
      }
      window.onload = onPageLoad;

      function gettable(dater,dayer) {
        var xmlhttp = new XMLHttpRequest();
        var theUrl = "get_table/";

          xmlhttp.onload = function () {
            if (xmlhttp.status == 200) {
              var responseText = xmlhttp.responseText;
              var context = JSON.parse(responseText);
              document.getElementsByClassName("lessons-content")[0].innerHTML = ''
              for(var i in context){
                var div = document.createElement("div");
                div.innerHTML = `
                                  <div class="lesson" onclick="checkable(this)">
                                    <div class="naming">
                                      <p>${context[i].time}</p>
                                      <h4>${context[i].name}</h4>
                                      <h2 visibility: hidden>0</h2>
                                      <h1 visibility: hidden id ="idier">${context[i].id}<h1>
                                    </div>
                                    <div class="students">
                                    </div>
                                    <div class="arrow-button"></div>
                                  </div>
                                `;
                console.log(context[i].check)
                document.getElementsByClassName("lessons-content")[0].appendChild(div);
              }
          }
          };
        xmlhttp.open("POST", theUrl, (async = true));
        xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        xmlhttp.send(JSON.stringify({ date: dater, day: dayer }));
      }

      function choose(newb) {
        oldb = document.getElementsByClassName("active-day")[0];
        oldb.classList.remove("active-day");
        oldb.classList.add("day");
        newb.classList.remove("day");
        newb.classList.add("active-day");
        gettable(newb.getElementsByTagName("h3")[0].innerHTML,newb.getElementsByTagName("p")[0].innerHTML);
        var a = newb.getElementsByTagName("h3")[0].innerHTML;
        a = a.split('.');
        var data = a[2]+"-"+a[1]+'-'+a[0];
        today  = new Date(data);
      }

      function checkable(lesson) {
        if(lesson.getElementsByTagName("h2")[0].innerHTML=="0"){
        var xmlhttp = new XMLHttpRequest();
        var theUrl = "student_load/";
        var lesson_id = lesson.getElementsByTagName("h1")[0].innerHTML;
        var date = document.getElementsByClassName("active-day")[0].getElementsByTagName("h3")[0].innerHTML;
          xmlhttp.onload = function () {
            if (xmlhttp.status == 200) {
              var responseText = xmlhttp.responseText;
              var context = JSON.parse(responseText);
              console.log(context);
              console.log(context['0'].name)
              for(let i=0 ;i<Object.keys(context).length;i++){
                var div = document.createElement("div");
                div.innerHTML = `
                                <h4>
                                    ${0+i+1}. ${context[i].name}
                                </h4>
                                        `;
                div.classList.add("human");
                if(context[i].ison==0 || context[i].ison == false){
                  div.style.backgroundColor = "var(--color-validate-red)";
                }else{
                  div.style.backgroundColor = 'var(--color-validate-green)';
                }
                lesson.getElementsByClassName("students")[0].appendChild(div);
              }
          }
          };
        xmlhttp.open("POST", theUrl, (async = true));
        xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        xmlhttp.send(JSON.stringify({ lesson:lesson_id, date:date}));
        lesson.getElementsByTagName("h2")[0].innerHTML="1";
        }else{
          lesson.getElementsByClassName("students")[0].innerHTML="";
          lesson.getElementsByTagName("h2")[0].innerHTML="0";
        }
      }
       
      //Темная тема
      function darkmode() {
        var theme = document.getElementsByTagName('body')[0];
          console.log(theme.classList)
          if(theme.classList=='lightmode'){
            theme.classList.remove("lightmode");
            theme.classList.add("darkmode");
          }else{
            theme.classList.remove("darkmode");
            theme.classList.add("lightmode");
          }
      }
    </script>
  </body>
</html>
