{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}" />
    <meta charset="UTF-8" />
    <title>Markbook | Schedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/basic-ui-color/37/Tick-1024.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <button class="menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
    <div class="dropdown-container" id="mobile">
      <div class="nav-bar">
        <div class="top-items">
          <a href="#" id="active-nav">
            <img src="{% static 'imgs/icon-timetable.png' %}" alt="i">
            <p>Посещения</p>
          </a>
          <a href="/statistics">
            <img src="{% static 'imgs/icon-statistics.png' %}" alt="i">
            <p>Статистика</p>
          </a>
          <a href="">
            <img src="{% static 'imgs/icon-theme.png' %}" alt="i">
            <p>Тема</p>
          </a>
        </div>
        <a href="leave/" class="leave">
          <img
                id="leave"
                src="{% static 'imgs/icon-door.png' %}"
                alt="door"
              />
          <p>Выйти</p>
        </a>
      </div>
    </div>
    <div class="application">
      
      <div>
        <div class="header" style="visibility: hidden;" id="Margin">
          <h1>*</h1>
        </div>
        <div class="nav-bar" id="desktop">
          <div class="top-items">
            <a href="#" id="active-nav">
              <img src="{% static 'imgs/icon-timetable.png' %}" alt="i">
              <p>Посещения</p>
            </a>
            <a href="/statistics">
              <img src="{% static 'imgs/icon-statistics.png' %}" alt="i">
              <p>Статистика</p>
            </a>
            <a href="#">
              <img src="{% static 'imgs/icon-theme.png' %}" alt="i">
              <p>Тема</p>
            </a>
          </div>
          <a href="leave/" class="leave">
            <img
                  id="leave"
                  src="{% static 'imgs/icon-door.png' %}"
                  alt="door"
                />
            <p>Выйти</p>
          </a>
        </div>
        <!-- <div class="nav-bar" id="banner">
          <img src="{% static 'imgs/banner.jpg' %}" alt="">
          <h3>Welcome to Markbook!</h3>
        </div> -->
      </div>

      
      <div class="content">
        <div class="header">
          <h1>Посещения</h1>
          <div class="user">
            <img
                src="{% static 'imgs/icon-user.png' %}"
                alt="user"
              />
            <h3>{{username}}</h3>
          </div>
        </div>
        <div class="calendar">
          <div class="day" id="week" onclick="weekchange(-7)" style="margin: 0 .5vw 0 0;">
            <h4><</h4>
          </div>
          <div class="day" id="Mon" onclick="choose(this)">
            <p>Пн</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Tue" onclick="choose(this)">
            <p>Вт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Wed" onclick="choose(this)">
            <p>Ср</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Thu" onclick="choose(this)">
            <p>Чт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Fri" onclick="choose(this)">
            <p>Пт</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Sat" onclick="choose(this)">
            <p>Сб</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="Sun" onclick="choose(this)">
            <p>Вс</p>
            <h4></h4>
            <h3 visibility: hidden>12312</h3>
          </div>
          <div class="day" id="week" onclick="weekchange(7)" style="margin: 0 0 0 .5vw;">
            <h4>></h4>
          </div>
        </div>
  
        
        <!-- sample table -->
        <div class="lessons-content">
          <div class="lesson">
            <div class="naming">
              <h4>Загрузка расписания...</h4>
            </div>
            <div class="arrow-button"></div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      var dropdown = document.getElementsByClassName("menu-button");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      } 
    </script>

    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
      var today = new Date();
      var week = [
        document.getElementById("Mon"),
        document.getElementById("Tue"),
        document.getElementById("Wed"),
        document.getElementById("Thu"),
        document.getElementById("Fri"),
        document.getElementById("Sat"),
        document.getElementById("Sun"),
      ];

      function weekchange(i){
          newb = document.getElementsByClassName('active-day')[0];
          var nextWeek = new Date(today);
          nextWeek.setDate(today.getDate() + i);
          today = nextWeek;
          onPageLoad();
          oldb = document.getElementsByClassName("active-day")[0];
          oldb.classList.remove("active-day");
          oldb.classList.add("day");
          newb.classList.remove("day");
          newb.classList.add("active-day");
      }

      function onPageLoad() {
        var c = 1
        for (let i = today.getDay(); i < 7; i++) {
          var h = week[i].getElementsByTagName("h4")[0];
          var nextDay = new Date(today);
          nextDay.setDate(today.getDate() + c);
          var p = week[i].getElementsByTagName("h3")[0];
          p.innerHTML = `${nextDay.getDate()}.${nextDay.getMonth() + 1}.${nextDay.getFullYear()}`;
          h.innerHTML = nextDay.getDate();
          c = c+1;
        }
        var c = 1
        for (let i = today.getDay(); i >= 0; i--) {
          var h = week[i].getElementsByTagName("h4")[0];
          var nextDay = new Date(today);
          nextDay.setDate(today.getDate() + c);
          var p = week[i].getElementsByTagName("h3")[0];
          p.innerHTML = `${nextDay.getDate()}.${nextDay.getMonth() + 1}.${nextDay.getFullYear()}`;
          h.innerHTML = nextDay.getDate();
          c = c-1;
        }

        var week2 = [
          document.getElementById("Sun"),
          document.getElementById("Mon"),
          document.getElementById("Tue"),
          document.getElementById("Wed"),
          document.getElementById("Thu"),
          document.getElementById("Fri"),
          document.getElementById("Sat"),
        ];
        week2[today.getDay()].classList.remove("day");
        week2[today.getDay()].classList.add("active-day");
        gettable(week2[today.getDay()].getElementsByTagName("h3")[0].innerHTML,week2[today.getDay()].getElementsByTagName("p")[0].innerHTML);
      }
      window.onload = onPageLoad;

      function gettable(dater,dayer) {
        var xmlhttp = new XMLHttpRequest();
        var theUrl = "get_table/";

          xmlhttp.onload = function () {
            if (xmlhttp.status == 200) {
              var responseText = xmlhttp.responseText;
              var context = JSON.parse(responseText);
              document.getElementsByClassName("lessons-content")[0].innerHTML = ''
              console.log(context);
              if(Object.keys(context).length==0){
                var div = document.createElement("div");
                div.innerHTML = `
                                  <div class="lesson">
                                    <div class="naming">
                                      <h4>В этот день пар нет :)</h4>
                                    </div>
                                    <div class="arrow-button"></div>
                                  </div>
              `;
              document.getElementsByClassName("lessons-content")[0].appendChild(div);
              }else{
              for(var i in context){
                var div = document.createElement("div");
                div.innerHTML = `
                                  <div class="lesson" onclick="checkable(this)">
                                    <div class="naming">
                                      <p>${context[i].time}</p>
                                      <h4>${context[i].name}</h4>
                                      <h1 visibility: hidden id ="idier">${context[i].id}<h1>
                                    </div>
                                    <div class="arrow-button"></div>
                                  </div>
                                `;
                console.log(context[i].check)
                if(context[i].check=='1'){
                  div.firstElementChild.style.backgroundColor = 'rgb(163, 246, 182)';
                }else if(context[i].check=='0'){
                  div.firstElementChild.style.backgroundColor = 'rgb(251, 202, 202)';
                }
                document.getElementsByClassName("lessons-content")[0].appendChild(div);
              }}
          }
  };
        xmlhttp.open("POST", theUrl, (async = true));
        xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        xmlhttp.send(JSON.stringify({ date: dater, day: dayer }));
      }

      function choose(newb) {
        oldb = document.getElementsByClassName("active-day")[0];
        oldb.classList.remove("active-day");
        oldb.classList.add("day");
        newb.classList.remove("day");
        newb.classList.add("active-day");
        gettable(newb.getElementsByTagName("h3")[0].innerHTML,newb.getElementsByTagName("p")[0].innerHTML);
        var a = newb.getElementsByTagName("h3")[0].innerHTML;
        a = a.split('.');
        var data = a[2]+"-"+a[1]+'-'+a[0];
        today  = new Date(data);
      }

function create_check(clicked, isons) {
    var xmlhttp = new XMLHttpRequest();
    var theUrl = "/checking/";
    xmlhttp.open("POST", theUrl, true);
    xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
    var id = clicked.getElementsByTagName('h1')[0].innerHTML;
    var data = document.getElementsByClassName('active-day')[0].getElementsByTagName('h3')[0].innerHTML;
    console.log(data);
    var sid = "{{student_id}}";
    xmlhttp.send(JSON.stringify({ lesson_id: id, student_id: sid, date: data, ison: isons }));
}

function check_validate() {
    var xmlhttp = new XMLHttpRequest();
    var theUrl = "/checking_validate/";
    xmlhttp.open("POST", theUrl, true);
    xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
    var id = clicked.getElementsByTagName('h1')[0].innerHTML;
    var data = document.getElementsByClassName('active-day')[0].getElementsByTagName('h3')[0].innerHTML;
    console.log(data);
    var sid = "{{student_id}}";
    xmlhttp.send(JSON.stringify({ student_id: sid, date: data }));
}

function change_check(clicked, isons) {
    var xmlhttp = new XMLHttpRequest();
    var theUrl = "/checking_change/";
    xmlhttp.open("POST", theUrl, true);
    xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
    var id = clicked.getElementsByTagName('h1')[0].innerHTML;
    var data = document.getElementsByClassName('active-day')[0].getElementsByTagName('h3')[0].innerHTML;
    console.log(data);
    var sid = "{{student_id}}";
    xmlhttp.send(JSON.stringify({ lesson_id: id, student_id: sid, date: data, ison: isons }));
}

      function checkable(clicked){
        console.log('123'+clicked.style.backgroundColor)
        if(clicked.style.backgroundColor==''){
          clicked.style.backgroundColor = 'rgb(163, 246, 182)';
          create_check(clicked,'1');
        }else if(clicked.style.backgroundColor=='rgb(163, 246, 182)'){
          clicked.style.backgroundColor = 'rgb(251, 202, 202)';
          change_check(clicked,'0');
        }else{
          clicked.style.backgroundColor = 'rgb(163, 246, 182)';
          change_check(clicked,'1');
        }
        
      }

    </script>
  </body>
</html>
