{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/statistics.css' %}" />
    <meta charset="UTF-8" />
    <title>Markbook | Schedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="https://cdn2.iconfinder.com/data/icons/basic-ui-color/37/Tick-1024.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">

  </head>
  <body>
    <button class="menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
    <div class="dropdown-container" id="mobile">
      <div class="nav-bar">
        <div class="top-items">
          <a href="/tables" id="active-nav">
            <img src="{% static 'imgs/icon-timetable.png' %}" alt="i" />
            <p>Посещаемость</p>
          </a>
          <a href="/statistics">
            <img src="{% static 'imgs/icon-statistics.png' %}" alt="i" />
            <p>Статистика</p>
          </a>
          <a href="">
            <img src="{% static 'imgs/icon-theme.png' %}" alt="i" />
            <p>Тема</p>
          </a>
        </div>
        <a href="leave/" class="leave">
          <img id="leave" src="{% static 'imgs/icon-door.png' %}" alt="door" />
          <p>Выйти</p>
        </a>
      </div>
    </div>
    <div class="application">
      <div>
        <div class="header" style="visibility: hidden" id="Margin">
          <h1>*</h1>
        </div>
        <div class="nav-bar" id="desktop">
          <div class="top-items">
            <a href="/tables">
              <img src="{% static 'imgs/icon-timetable.png' %}" alt="i" />
              <p>Посещаемость</p>
            </a>
            <a href="#" id="active-nav">
              <img src="{% static 'imgs/icon-statistics.png' %}" alt="i" />
              <p>Статистика</p>
            </a>
            <a href="#">
              <img src="{% static 'imgs/icon-theme.png' %}" alt="i" />
              <p>Тема</p>
            </a>
          </div>
          <a href="leave/" class="leave">
            <img
              id="leave"
              src="{% static 'imgs/icon-door.png' %}"
              alt="door"
            />
            <p>Выйти</p>
          </a>
        </div>
        <!-- <div class="nav-bar" id="banner">
          <img src="{% static 'imgs/banner.jpg' %}" alt="">
          <h3>Welcome to Markbook!</h3>
        </div> -->
      </div>

      <div class="content">
        <div class="header">
          <h1>Статистика</h1>
          <div class="user">
            <img
                src="{% static 'imgs/icon-user.png' %}"
                alt="user"
              />
            <h3>{{username}}</h3>
          </div>
        </div>
        <div class="statistics-menu">
          <div class="active-day">
            <h4>Пропуски</h4>
          </div>
          <div class="day">
            <h4>Sample</h4>
          </div>
        </div>

        <div class="info">
          <div class="info-block">
            <h4>Математика</h4>
            <table class="charts-css bar show-labels">
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Пропуски </th>
                <td style="--size: 0.3; background-color: rgb(251, 202, 202); margin-left: 2vw;"> 3 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Посещения </th>
                <td style="--size: 0.7; background-color: rgb(163, 246, 182); margin-left: 2vw;"> 7 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Занятий </th>
                <td style="--size: 1; background-color: #dadada; margin-left: 2vw;"> 10 </td>
              </tr>         
            </table>
          </div>
          <div class="info-block">
            <h4>Русский</h4>
            <table class="charts-css bar show-labels">
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Пропуски </th>
                <td style="--size: 0.1; background-color: rgb(251, 202, 202); margin-left: 2vw;"> 1 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Посещения </th>
                <td style="--size: 0.9; background-color: rgb(163, 246, 182); margin-left: 2vw;"> 9 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Занятий </th>
                <td style="--size: 1; background-color: #dadada; margin-left: 2vw;"> 10 </td>
              </tr>         
            </table>
          </div>
        </div>
        <div class="info">
          <div class="info-block">
            <h4>ОРГ</h4>
            <table class="charts-css bar show-labels">
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Пропуски </th>
                <td style="--size: 1; background-color: rgb(251, 202, 202); margin-left: 2vw;"> 15 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Посещения </th>
                <td style="--size: 0,1; background-color: rgb(163, 246, 182); margin-left: 2vw;"> 0 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Занятий </th>
                <td style="--size: 1; background-color: #dadada; margin-left: 2vw;"> 15 </td>
              </tr>         
            </table>
          </div>
          <div class="info-block">
            <h4>Программирование</h4>
            <table class="charts-css bar show-labels">
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Пропуски </th>
                <td style="--size: 0.3; background-color: rgb(251, 202, 202); margin-left: 2vw;"> 3 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Посещения </th>
                <td style="--size: 0.7; background-color: rgb(163, 246, 182); margin-left: 2vw;"> 7 </td>
              </tr>
              <tr>
                <th scope="row" style="text-align: left; width: 10vw;"> Занятий </th>
                <td style="--size: 1; background-color: #dadada; margin-left: 2vw;"> 10 </td>
              </tr>         
            </table>
          </div>
        </div>
        
      </div>
    </div>

    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
      function PageLoad(){
        //father = document.getElementsById();
        var xmlhttp = new XMLHttpRequest();
        var theUrl = "/statistic/";
        xmlhttp.onload = function () {
            if (xmlhttp.status == 200) {
              var responseText = xmlhttp.responseText;
              var context = JSON.parse(responseText);
            }
        }
        xmlhttp.open("POST", theUrl, (async = true));
        xmlhttp.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        xmlhttp.send(JSON.stringify({ id: '{{ student_id }}' }));
      }

      window.onload = PageLoad;
    </script>

    <script>
      var dropdown = document.getElementsByClassName("menu-button");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
