body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.input-container {
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-size: 3vw;
}

input {
  font-family: "Montserrat";
  padding: 1vh 1vw 1vh 1vw;
  width: 10vw;
  font-size: 2vw;
  border-radius: 1vw;
  border: none;
}

#form {
  display: block;
  justify-content: center;
  align-items: center;
}

#submit {
  margin-left: 1vw;
  padding: 0.2vw;
  font-family: "Montserrat";
  font-size: 1vw;
  width: 2vw;
  height: 2vw;
}

#submit:hover {
  cursor: pointer;
}

.error{
  margin-top: 1vw;
  font-family: "Montserrat";
  font-size: 1vw;
  display: flex;
  justify-content: center;
  color: red;
}

.error p{
  margin: 0;
  margin-right: 10px;
}