body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.input-container {
  text-align: center;
  align-content: center;
  padding: 2vw 0 2vw 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 2vw;
  margin: 0;
}

p{
  font-family: "Montserrat";
  font-size: 1vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

input {
  background-color: #f4f4f4;
  text-align: center;
  font-family: "Montserrat";
  padding: 1vh 1vw 1vh 1vw;
  width: 2vw;
  height: 4vw;
  font-size: 3vw;
  border-radius: 1vw;
  border: none;
  margin-left: 5px;
}

#form {
  display: block;
  align-items: center;
  background-color: white;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: .7vw;
  filter: drop-shadow(0 0 10px rgb(223, 223, 223));
}

.activity{
  margin-top: 3vw;
  background-color: transparent;
  display: block;
  align-items: center;
  justify-content: center;
}

.activity button{
  align-items: center;
  padding: 0.2vw;
  font-family: "Montserrat";
  font-size: 1vw;
  font-weight: bold;
  width: 12vw;
  height: 3vw;
  border: none;
  border-radius: 7vw;
  color: white;
  background-color: #7A4BFF;
  transition: all .2s;
}

#form-clean{
  color: red;
  width: 3vw;
  background-color: white;
}

.activity button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.error{
  height: 2vw;
  font-family: "Montserrat";
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.error p{
  margin: 0;
  margin-right: 10px;
  width: auto;
}


@media (max-width: 1000px){
  body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .input-container {
    text-align: center;
  }
  
  h1 {
    font-family: "Montserrat";
    font-size: 10vw;
  }
  
  input {
    text-align: center;
    font-family: "Montserrat";
    padding: 1vh 1vw 1vh 1vw;
    width: 8vw;
    height: 12vw;
    font-size: 10vw;
    border-radius: 3vw;
    border: none;
    margin-left: 5px;
  }
  
  #form {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .activity{
    margin-top: 5vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .activity button{
    align-items: center;
    padding: 1vw;
    font-family: "Montserrat";
    font-size: 6vw;
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 7vw;
    background-color: white;
    transition: all .2s;
  }
  
  #form-clean{
    color: red;
  }
  
  .activity button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgb(226, 226, 226));
  }
  
  .error{
    height: 2vw;
    font-family: "Montserrat";
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
  
  .error p{
    margin: 0;
    margin-right: 10px;
  }
}