.lightmode {
  --color-validate-green: rgb(163, 246, 182);
  --color-validate-red: rgb(251, 202, 202);
  --color-shadow: rgb(223, 223, 223);
  --color-text: black;
  --color-background: #f4f4f4;
  --color-main: white;
  --color-disable: gray;
  --color-active: #7A4BFF;
}

.darkmode{
  --color-validate-green: rgb(36, 68, 44);
  --color-validate-red: rgb(134, 68, 68);
  --color-shadow: rgb(26, 26, 26);
  --color-text: white;
  --color-background: #0e0e0e;
  --color-main: rgb(22, 22, 22);
  --color-disable: gray;
  --color-active: #7A4BFF;
}

body {
  color: var(--color-text);
  font-family: "Montserrat";
  background-color: var(--color-background);
  margin: 0;
}

.application {
  display: flex;
  justify-content: center;
  margin: 7vw 15vw 7vw 15vw;
}

#mobile{
  display: none;
}

.menu-button{
  display: none;
}

.nav-bar{
  display: block;
  text-align: left;
  align-items: center;
  background-color: var(--color-main);
  border-radius: 0.7vw;
  transition: 0.2s ease;
  margin-right: 2vw;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px var(--color-shadow));
}

.leave{
  filter: saturate(0%);
  width: 1.5vw;
  transition: all .2s ease;
}

.leave:hover{
  filter: saturate(100%);
  color: red;
}

.leave img{
  width: 1.5vw;
}

.top-items{
  width: 12vw;
  align-items: center;
  margin-bottom: 100px;
}

.nav-bar a{
  align-items: center;
  width: auto;
  display: flex;
  padding: 2.5vh 0 2.5vh 3vh;
  text-decoration: none;
  transition: all .2s ease;
  color: var(--color-disable);
}

.nav-bar a p{
  margin-left: 10px;
}


/* .top-items a{
  align-items: center;
  width: auto;
  display: flex;
  padding: 2.5vh 0 2.5vh 3vh;
  text-decoration: none;
  transition: all .2s ease;
} */

.top-items a img{
  filter: saturate(0%);
  width: 1.5vw;
}

.top-items a:hover{
  padding-left: 3.5vh;
}

.top-items a p{
  font-weight: 100;
  color: var(--color-disable);
  margin-left: 10px;
}

#active-nav{
  background-color: var(--color-background);
}

#active-nav img{
  filter: saturate(100%);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: GREEN; */
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
}

.user img{
  width: 1vw;
  margin-right: 10px;
}


p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-family: "Montserrat";
  font-size: 0.8vw;
  margin: 0;
}

h4 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-family: "Montserrat";
  font-size: .9vw;
  margin: 0;
  font-weight: bold;
}

h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-family: "Montserrat";
  font-size: 2vw;
  margin: 0;
}

h3 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-family: "Montserrat";
  font-size: 1vw;
  margin: 0;
}

h5 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-family: "Montserrat";
  font-size: 0.7vw;
  margin: 0;
  font-weight: 100;
}

.calendar {
  /* Width of calendar bar IMPORTANT*/
  width: 55vw; 

  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);
  filter: drop-shadow(0px 0px 10px var(--color-shadow));
  padding: .2vw;
  border-radius: 0.7vw;
}

#week h4 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-weight: 200;
  color: var(--color-disable);
}

#week{
  text-align: center;
  width: 1vw;
  padding: 1vh;
  justify-content: center;
}

#week:hover {
  font-weight: 200;
  color: var(--color-disable);
}

.days-row {
  justify-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day {
  margin: 0 .5vw 0 .5vw;
  width: 2vw;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--color-main);
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 0.7vw;
  transition: 0.2s ease;
}

.day h4 {
  margin-left: 5px;
}

.day:hover {
  /* transform: translateY(-3px); */
  cursor: pointer;
  background-color: var(--color-background);
}

.active-day {
  margin: 0 .5vw 0 .5vw;
  width: 2vw;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #7A4BFF;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 0.7vw;
  transition: 0.2s ease;
  color: var(--color-main);
}

.active-day h4 {
  margin-left: 5px;
}

.active-day:hover {
  cursor: pointer;
  background-color: #6b41de;
}

.active-day p {
  color: var(--color-main);
}

.lessons-content {
  margin-top: 5vh;
}

#banner{
  display: none;
  margin-top: 2vw;
  width: 12vw;
  height: 4.7vw;
  filter: drop-shadow(0px 0px 10px var(--color-shadow));
  transition: all .8s ease;
}

#banner:hover{
  filter: brightness(90%);
  cursor: pointer;
}

#banner img{
  position: absolute;
  z-index: 1;
  height: 200%;
  width: 200%;
}

#banner h3{
  position: absolute;
  z-index: 2;
  color: var(--color-main);
  left: 1vw;
  top: 1vw;
  width: 9vw;
}

.lesson {
  display: flex;
  align-items: center;
  background-color: var(--color-main);
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 0.8vw;
  margin-bottom: 1vw;
  transition: all 0.1s ease;
}

.naming {
  text-align: left;
}

.naming p{
  color: var(--color-disable);
  margin-bottom: 5px;
}

.lesson:hover {
  cursor: pointer;
  filter: drop-shadow(0 0px 5px var(--color-shadow));
}

span{
  margin-left: .3vw;
  background-color: #429d68;
  color: var(--color-main);
  padding: 5px;
  border-radius: .5vw;
  font-size: .6vw;
}

@media (max-width: 1000px) {
  body {
    background-color: var(--color-background);
    margin: 0;
  }
  
  #Margin{
    display: none;
  }

  .application {
    display: block;
    justify-content: center;
    margin: 3vh 5vw 3vh 5vw;
  }
  
  .menu-button{
    margin: 3vh 5vw 3vh 5vw;
    padding: 20px;
    display: block;
    width: 10vw;
    height: 10vw;
    background-color: var(--color-main);
    border-radius: 3vw;
    border: none;
  }

  .dropdown-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: var(--color-background);
    padding-left: 8px;
    transition: all .5s ease;
  }

  .line{
    height: 5px;
    margin: 10px;
    background-color: #262626;
  }

  #desktop{
    display: none;
  }

  .nav-bar{
    display: block;
    text-align: left;
    align-items: center;
    background-color: transparent;
    border-radius: 7vw;
    transition: 0.2s ease;
    margin-right: 2vw;
    padding: 50px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px var(--color-shadow));
  }
  
  .leave{
    filter: saturate(0%);
    width: 8vw;
    transition: all .2s ease;
  }
  
  .leave:hover{
    filter: saturate(100%);
    color: red;
  }
  
  .leave img{
    width: 8vw;
  }
  
  .top-items{
    width: auto;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .nav-bar a{
    background-color: var(--color-main);
    border-radius: 3vw;
    align-items: center;
    width: auto;
    display: flex;
    padding: 5vw;
    text-decoration: none;
    transition: all .2s ease;
    color: var(--color-disable);
    margin-bottom: 20px;
  }
  
  .nav-bar a p{
    margin-left: 0;
  }
  
  
  /* .top-items a{
    align-items: center;
    width: auto;
    display: flex;
    padding: 2.5vh 0 2.5vh 3vh;
    text-decoration: none;
    transition: all .2s ease;
  } */
  
  .top-items a img{
    filter: saturate(0%);
    width: 8vw;
  }
  
  .top-items a:hover{
    padding-left: 3.5vh;
  }
  
  .top-items a p{
    font-size: 5vw;
    font-weight: 100;
    color: var(--color-disable);
    margin-left: 10px;
  }
  
  #active-nav{
    background-color: var(--color-main);
  }
  
  #active-nav img{
    filter: saturate(100%);
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: GREEN; */
    margin-bottom: 5vw;
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .user img{
    width: 5vw;
    margin-right: 10px;
  }
  
  
  p {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-family: "Montserrat";
    font-size: 3vw;
    margin: 0;
  }
  
  h4 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-family: "Montserrat";
    font-size: 4vw;
    margin: 0;
    font-weight: bold;
  }
  
  h1 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-family: "Montserrat";
    font-size: 8vw;
    margin: 0;
  }
  
  h3 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-family: "Montserrat";
    font-size: 4vw;
    margin: 0;
  }
  
  h5 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-family: "Montserrat";
    font-size: 4.7vw;
    margin: 0;
    font-weight: 100;
  }
  
  .calendar {
    /* Width of calendar bar IMPORTANT*/
    width: auto; 
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    filter: none;
  }
  
  #week h4 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    font-weight: 200;
    color: var(--color-disable);
  }
  
  #week{
    text-align: center;
    width: 5vw;
    padding: 1vh;
    justify-content: center;
  }
  
  #week:hover {
    font-weight: 200;
    color: var(--color-disable);
  }
  
  .days-row {
    justify-content: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .day {
    margin: 0 .5vw 0 .5vw;
    width: 8vw;
    display: block;
    text-align: center;
    align-items: center;
    background-color: var(--color-main);
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 3vw;
    transition: 0.2s ease;
  }
  
  .day h4 {
    margin-left: 5px;
  }
  
  .day:hover {
    /* transform: translateY(-3px); */
    cursor: pointer;
    background-color: var(--color-background);
  }
  
  .active-day {
    margin: 0 .5vw 0 .5vw;
    width: 8vw;
    display: block;
    text-align: center;
    align-items: center;
    background-color: #7A4BFF;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 3vw;
    transition: 0.2s ease;
    color: var(--color-main);
  }
  
  .active-day h4 {
    margin-left: 5px;
  }
  
  .active-day:hover {
    cursor: pointer;
    background-color: #6b41de;
  }
  
  .active-day p {
    color: var(--color-main);
  }
  
  .lessons-content {
    margin-top: 3vh;
  }
  
  #banner{
    display: none;
    margin-top: 2vw;
    width: 12vw;
    height: 20vw;
    filter: drop-shadow(0px 0px 10px var(--color-shadow));
    transition: all .5s ease;
  }
  
  #banner:hover{
    filter: brightness(90%);
    cursor: pointer;
  }
  
  #banner img{
    position: absolute;
    z-index: 1;
    height: 100%;
  }
  
  #banner h3{
    position: absolute;
    z-index: 2;
    color: var(--color-main);
    left: 1vw;
    top: 1vw;
    width: 9vw;
  }
  
  .lesson {
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    padding: 1vh 5vw 1vh 5vw;
    border-radius: 3vw;
    margin-bottom: 2vw;
    transition: all 0.1s ease;
  }
  
  .naming {
    text-align: left;
  }
  
  .naming p{
    color: var(--color-disable);
    margin-bottom: 5px;
  }
  
  .lesson:hover {
    cursor: pointer;
    filter: drop-shadow(0 0px 5px rgb(231, 231, 231));
  }

  span{
    margin-left: 3vw;
    background-color: #429d68;
    color: var(--color-main);
    padding: 5px;
    border-radius: 2vw;
    font-size: 3vw;
  }
}
